[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
city-scrapers-core = {extras = ["aws"],version = "*"}
esprima = "*"
icalendar = "*"
ics = "*"
legistar = {git = "https://github.com/opencivicdata/python-legistar-scraper"}
python-dateutil = "*"
pytz = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
requests = "*"
scrapelib = "*"
scrapy = "*"
scrapy-sentry = "*"
scrapy-wayback-middleware = "*"

[dev-packages]
black = "==19.10b0"
freezegun = "*"
pathlib2 = {version = "*",python_version = "< '3.6'"}
pytest = "*"
